<table class="ui table">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temperature</th>
      <th>Wind Speed</th>
      <th>Wind Direction</th>
      <th>Pressure</th>
    </tr>
    
    <div class="ui five inverted stackable cards">

        <div class="card">
            <div class="image"></div>
            <div class="extra">
                <h2 class="ui center aligned icon">
                <i class="large red marker icon"></i>
                <h3>{{station.title}}</h3>
            </div>
        </div>
        <div class="card">
            <div class="image"></div>
            <div class="extra">
                <h2 class="ui center aligned icon">
                <i class="large purple cloud icon"></i>
                  <h3>Weather:</h3>
                <h5>{{latestReading.code}}</h5>
            </div>
        </div>
        <div class="card">
            <div class="image"></div>
            <div class="extra">
                <h2 class="ui center aligned icon">
                    <i class="large blue temperature high icon"></i>
                <h3>Temperature: </h3>
                  <p>
                    {{latestReading.temperature}} C
                  </p>
                  <h5>Min: {{minTemp.temperature}} C</h5>
                  <h5>Max: {{maxTemp.temperature}} C</h5>
            </div>
        </div>
        <div class="card">
            <div class="image"></div>
            <div class="extra">
                <h2 class="ui center aligned icon">
                    <i class="large yellow wind icon"></i>
                <h3> Wind: </h3>
                  <br>
                  <h5></h5>
                  <h5>Min: {{minWind.windSpeed}}</h5>
                  <h5>Max: {{maxWind.windSpeed}}</h5>
            </div>
        </div>
        <div class="card">
            <div class="image"></div>
            <div class="extra">
                <h2 class="ui center aligned icon">
                <i class="large green atom icon"></i>
                <h3> Pressure: </h3>
                  <br>
                  <h5>Min: {{minPressure.pressure}} hPa </h5>
                  <h5>Max: {{maxPressure.pressure}} hPa</h5>
            </div>
        </div>
    </div>
  </thead>
  <tbody>
    {{#each station.readings}}
      <tr>
        <td>
          {{code}}
        </td>
        <td>
          {{temperature}}
        </td>
        <td>
        {{windSpeed}}
        </td>
        <td>
        {{windDirection}}
        </td>
        <td>
        {{pressure}}
        </td>
        <td>
          <a href="/station/{{../station.id}}/deletereading/{{id}}" class="ui icon button">
          <i class="icon trash"></i></a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>